@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-VariableFont_wdth\,wght.ttf');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

button:hover {
    cursor: pointer;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: .9em;
}

/* Sidebar */
.sidebar {
    background-color: #1992d4;
    grid-row: 1 / 3;
    color: white;
}

.sidebar-brand {
    padding: 20px 100px 0 15px;
    display: grid;
    grid-template-columns: 40px 100px;
    grid-template-rows: 40px;
    align-items: center;
    margin-bottom: 10px;
    column-gap: 10px;
}

.sidebar-content {
    padding: 20px 100px 0 20px;
    display: grid;
    grid-template-columns: 120px;
    row-gap: 20px;
    column-gap: 15px;
    grid-template-rows: repeat(10, minmax(20px, 1fr));
    align-items: center;
    font-weight: 800;
}

.sidebar-element {
    display: grid;
    grid-template-columns: 20px 100px;
    column-gap: 10px;
}

.sidebar-spacer {
    grid-row: 6 / 8;
    align-self: baseline;
}

.sidebar-icon {
    width: 20px;
    fill: white;
}

.brand-icon {
    width: 40px;
}

/* header */

.header {
    padding: 10px 20px 0 20px;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 50px 1fr;
    align-items: center;
    column-gap: 50px;
    box-shadow: 0 3px 3px #36363628;
    z-index: 1;
}

#search-icon {
    width: 25px;
}

.searchbar {
    display: grid;
    align-items: center;
    grid-template-columns: 25px 1fr;
    column-gap: 15px;
}

#input-search {
   background-color: #e2e8f0;
   border: 0;
   border-radius: 20px;
   height: 30px;
   padding: 10px;
}

#notifications-icon {
    width: 25px;
}

.profile-picture-small {
    width: 40px;
    border-radius: 50%;
}

#profile-picture-big {
    width: 55px;
    border-radius: 50%;
}

.user-info-small {
    display: grid;
    align-items: center;
    justify-content:end;
    column-gap: 25px;
    grid-template-columns: 25px 50px auto;
}

.user-info-big {
    display: grid;
    grid-template-columns: 55px 1fr;
    column-gap: 10px;
    align-items: center;
}

#username-box {
    font-weight: 600;
}

#small-upper-text {
    font-size: .8em;
    margin-bottom: 0;
}

#username-big{
    margin-top: 7px;
}

.user-info-small p {
    display: inline;
}

.header-buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content:end;
    column-gap: 30px;
}

.header-button {
    background-color: #1992d4;
    border: 0;
    border-radius: 20px;
    width: 90px;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
}

/* main content*/

.main-content {
    background-color: #e2e8f0;
    padding: 10px 40px 20px 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 10px;
    column-gap: 40px;
}

.cards-content {
    grid-column: 1 / 6;
    grid-row: 1 / 8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 40px repeat(3, 180px);
    align-items: center;
    gap: 25px
}

#cards-header {
    grid-column: 1 / -1;
    margin: 0;
}

.card {
    height: 150px;
    border-radius: 10px;
    min-width: 250px;
    border-left: 10px solid #f0b429;
    background-color: white;
    padding: 20px 15px;
    box-shadow: 3px 3px 3px #36363628;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 40px;
}

.card-text{
    overflow: hidden;
    min-height: 0px;
}

.card-header {
    margin-bottom: 3px;
    margin-top: 0;
}

.card-content {
    font-size: .8em;
    font-weight: 300;
    margin-top: 0;
    color: grey;
}

.card-buttons {
    align-self: end;
    justify-self: end;
}

.card-buttons svg {
    width: 25px;
}

/* announcements */

.announcements {
    grid-column: 6 / 8;
    grid-row: 1 / 4;
}

.announcements-box, .trending-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #36363628;
  padding: 0 25px 10px 25px;
  display: flex;
  flex-direction: column;  
}

.announcement {
    margin: 0;
    padding: 10px 0;
    width: auto;
    height: auto;
    overflow: hidden;
    max-height: 70px;
}

.announcements-box >.announcements-content:first-child {
    margin-top: 15px
}

.announcement-header {
    margin: 0;
}

.trending {
    grid-column: 6 / 8;
    grid-row: 4 / 8
}

.annoucement-text, .trending-project-name {
    margin: 0;
    font-size: .8em;
    color: grey;
    line-height: 1.1;
    line-clamp: 3;
    
    overflow: hidden;
}

/* trending */

.trending {
    grid-column: 6 / 8;
}

.trending-username {
    font-size: .8em;
}

.trending-row {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    align-items: center;
}

.trending-box {
    padding-top: 20px;
    padding-bottom: 20px;
}